/* Nombre completo: Juan José Arenas Gaviria
Clan: Dell
Fecha: 09/04/24 */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root{
    --azul_oscuro: #181E4B;
    --azul_claro: #6b5cff;
    --blanco: #F9FAFC;
    --gris:gray;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}

body{
    background-color: var(--blanco);
}
/* -----------------------ponemos esto para evitar que el header se coma un pedazo de la pagina al presionar en la seccion (se debe al position fixed) */
#requisito, #acerca{
    scroll-margin-top: 100px;
}

/* -------------comienza el header---------------------- */
.header{
    width: 100%;
    height: 100px;
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    z-index: 10;
    
}
/* ------------------comenzamos con la creacion del logo--------------------- */
.logo{
   width: 40%;
   display: flex;
   padding-left: 20px;
}

.logo img{
    width: 30px;
    height: 30px;
    padding: 0px;
    padding-top: 30px;
}
/* --span para cambiar de color lo que queramos-------------- */
.logo span{
    color: var(--azul_claro);
}

.logo h1{
    padding: 10px;
    font-size:50px;
    color: var(--azul_oscuro);
    font-style: italic;
}
/* -------------empieza la navbar------------------- */
.nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-right: 30px;
}

.nav button{
    background-color: var(--azul_claro);
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 80px;
    position: relative;
    top: -7px;
}
/* ---------------------hover para cambiar el color cuando pongamos el cursos encima----------------- */
.nav button:hover{
    background-color: var(--azul_oscuro);
}

.nav a{
    text-decoration: none;
    color: var(--azul_oscuro);
}

.nav a:hover{
    font-weight: 900;
}

.col a{
    color: var(--blanco);
    font-weight: bold;
}
/* -------------------editamos el boton de wpp------------------- */
.boton{
    position: fixed;
    bottom: 20px;
    right: 20px
}   

.boton img{
    width:60px;
    border-radius: 100px;
}
/* ------------------------empieza el main--------------------- */
/* primer cont */
.cont{
    width: 100%;
    display: flex;
    
}
/* -----sep es el contenedor de la img---- */
.sep{
    width: 35%;
    margin-top: 100px;
}
/* este es el contenedor del texto */
.septext{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    font-weight: bold;
    margin-top: 100px;
}

.sep img{
    width: 100%;
    height: 500px;
    border-radius: 30px;
    margin-left: 100px;
}

.septext h3{
    font-size: 60px;
    text-align: center;
    font-style: italic;
    color: var(--azul_oscuro);
}
/* -----comenzamos a estilizar el formulario---- */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    width: 80%;
}

.form input{
    width: 90%;
    height: 30px;
    border-color: var(--azul_claro);
    border-radius: 8px;
}



.form button{
    background-color: var(--azul_claro);
    width: 35%;
    height: 35px;
    border-color: var(--azul_oscuro);
    color: var(--blanco);
    border-radius: 40px;
    font-weight: bold;
}

.form button:hover{
background-color: var(--azul_oscuro);
}
/* ------comienza segunda seccion----- */
/* contenedor de la img */
.sepi{
width: 35%;
}

.sepi img{
    width: 100%;
    height: 500px;
    border-radius: 30px;
    margin-left: 100px;
   
}
/* contenedor del txt */
.septexti{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
    font-weight: bold
}

.septexti h3{
    width: 90%;
    color: var(--azul_oscuro);
    font-size: 55px;
    text-align: center;
    font-style: italic;
    position: relative;
    padding-left: 230px;
    padding-top: 50px;
}

.septexti p{    
    position: relative;
    left: 110px;
}
/* -----------------comienza tercera seccion-------------- */
/* contenedor de texto */
.septable{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    font-weight: bold
}

.septable p{
    margin-left: 50px;
    
}

.septable h3{
    margin-left: 50px;
    font-size: 50px;
    text-align: center;
    font-style: italic;
    color: var(--azul_oscuro);
}
/* ------estilizamos la tabla-------------- */
table{
    margin-left: 50px;
    margin-top: 30px;
    width: 70%;
}

th{

    border-bottom: 3px solid var(--azul_claro);
}

td{
    padding-left: 50px;
}
/* ----------------------contenedor img--------------- */

.septa{
    width: 55%;
}
.septa img{
    width: 90%;
    height: 700px;
    border-radius: 30px;
    margin-left: 158px;
}
/* ----------parte inferior de requisitos------------------------------ */
.inferior{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inferior h3{
    font-size: 50px;
    text-align: center;
    font-style: italic;
    color: var(--azul_oscuro);  
}

.inferior img{
    margin-top: 30px;
    width: 100%;
    border-radius: 30px;
    height: 450px;
}

.requisitos{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.requi{
text-align: center;
}

.requi i{
    font-size: 40px;
    color: var(--azul_claro);
    
}

.requi h4{
color: var(--azul_oscuro);
padding: 10px;
}

.requi p{
    color: var(--gris);
}
/* ------------------------comienz el formulario de inscripcion------------------------------------- */
.cajaform{
    margin-top: 100px;
    width: 100%;
}

.formu{
    margin-top: 50px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cajaform h4{
    text-align: center;
    font-size: xx-large;
}

.formu input{
    width: 60%;
    height: 40px;
    border-color: var(--azul_claro);
    border-radius: 8px;
}

.formu button{
    background-color: var(--azul_claro);
    width: 30%;
    height: 45px;
    border-color: var(--azul_oscuro);
    color: var(--blanco);
    border-radius: 40px;
    font-weight: bold;
}

.formu textarea{
    border-color: var(--azul_claro);
    border-radius: 8px;
}
/* -------------------------------comienza la parte de informacion de riwi----------------------------- */
/* titulo */
.sn{
    font-size: 50px;
    text-align: center;
    font-style: italic;
    color: var(--azul_oscuro); 
    padding-top: 60px;
}
/* -----------------contenedor de video y mapa--------------- */
.contvid{
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;
}
/* ---------------------------------papá deñ video y del mapa--------------------------------- */
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
}

.video h5{
    margin: 40px;
    font-size: large;
    font-weight: bold;
}
/* ------------------------------footer------------------------------------ */
.footer{
    width: 100%;
    height: 90px;
    background-color: var(--azul_claro);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.posi{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}


.color a{
    color: var(--blanco);
    font-size: 35px;
    margin: 8px;
}

.color p{
    color: var(--blanco);
}

.color span{
color: var(--azul_oscuro);
}